@media only screen and (min-width: 1000px) {
 h1 {
    font-size: 4rem;
}
.motto {
    font-size: 1.25rem;
}
.sunlogo {
    width: 200px;
}
.townimg {
    height: 300px;
   
   }
.menu {
    display: none;
}
.weatherdetails {
    line-height: 30px;
    padding: 0;
}
.forecast {
    display: inline-block;
    margin: 0 auto;
    width: 100%;

}
table {
    margin: 0 auto;
}
table, th, td {
    border: 1px solid #083D77;
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 15px;
  }
  .forecastimg {
    width: 75px;
    height: 75px;
  }
  .town-article {
      padding: 50px;
      margin: 50px;
  }
.events {
    margin: 25px auto;
    width: 40%;
}

.map {
    width: 250px;
}
.wrapper {
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery {
    box-shadow: 0 0 30px #333;
    padding: 10px;
}

.galleryimg:hover {
    box-shadow: 0 0 30px #333;
}

.threetowns {
    flex-direction: row;
    
}


}