@media only screen and (min-width: 600px) {

       h1 {
        font-size: 3rem;
    }
    
    .sunlogo {
        width: 150px;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation li:first-child {
        display: none
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    
    }
    .weathersummary {
        top: 30px;
        left: 30px;
    }

    .town-article {
        padding:25px;
}
    .farmersmarket {
        float: right;
    }
    .contactsection, .mapouter {
    padding: 0 50px;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    form fieldset {
        margin: auto;
       
    }
    .comments {
        margin: 2rem auto 0;
    }
    .updatebutton {
       width: 300px;
      margin: 2rem auto;
    }
    .thanks {
        width: 50%;
        padding: 25px;
    }

    .hometownpic {
        width: 100%;
        height: 475px;
    }



}