@media only screen and (min-width: 64em) {
  
    header img, .headings {
    display: inline-block;
    margin: 1.5em;
    vertical-align: middle;
   }
   .townimg {
       height: 450px;
   }

.navigation li:first-child {
    display: none;
}
nav a {
    display: inline-block;
}
li {
    display: inline-block;
    padding: 5px;

}
.forecast {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: solid #ffffff 1px;

}

.forecastimg {
    width: 25px;
    height: 25px;
}
.farmersmarket {
    float: right;
}


}