body {
    font-family: Ubuntu, sans-serif;
    font-size: 16px; 
    line-height: 32px;
    color: black;

}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    padding: 6px 15px;
     
}
table {
    box-shadow: 5px 10px 30px #628ca6;
}
tr:nth-child(odd) {
    background-color: #e7ffed ;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
th {
    background: #7fb9c2;
    text-align: center;
    font-size: 1.5em;
}
tr:first-child {
    background-color: #628ca6;
}
tfoot td {
    background: #7fb9c2;
    text-align: center; 
}
tr:nth-child(6) td:first-child {
font-style: italic;
}
tr:nth-child(5) td:nth-child(3){
    background: #628ca6;
    color: white;
}
#pssg {
    color: white;
    font-weight: bold;
}



