body {
    font-family: Ubuntu, sans-serif;
    font-size: 16px; 
    line-height: 32px;
    color: black;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 15px;
}
tr:nth-child(odd) {
    background-color: #e7ffed ;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
th {
    background: #7fb9c2;
    text-align: center;
}
tr:first-child {
    background-color: #628ca6;
}

