body {
    background-color: #F2EfE9;
	font-size: 16px;
    font-family: 'Dosis', Charcoal, sans-serif;
    
}
main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
header, footer {
	background-color:#FFEAEA;
    font-family: 'Dosis', Charcoal, sans-serif;
    color: #131414;
}
footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px;
}
.logo {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin: 0 auto; 
	padding: 10px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;

}
.navigation a {
    display: block;
    color: #131414;
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.navigation li:first-child { 
    display: block;
}
.navigation li { 
    display: none;
}

.navigation a:hover {
    color: #ffffff;
	background-color: #AB9F9D;
}
a.active {
    background-color: #AB9F9D;
	color: #ffffff;

}
.responsive li {
    display: block;
}
.sdtemplebanner {
    width: 100%;
    height: 100%;
}
.sdtempleparagraph {
    font-size: 1.5rem;
    text-align: center;
   
    color: white;
    border: solid 1px;
    padding: 15px;
    background-color: black;
}
.homegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 25px;

}
.sdhomearticle {
    padding: 10px 30px;

}
p {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Satisfy', Charcoal, sans-serif;
}
h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Satisfy', Charcoal, sans-serif;
}
h3 {
    margin: auto;
    background-color: #FFEAEA;
    border: solid 1px #131414;
    border-radius: 1.5rem;
    padding: .75rem;
    width: 150px;
    text-align: center;
}
h3 a {
text-decoration: none;
color: #131414;


}
.templespagegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}
.temples {
    padding: 25px;
    justify-content: center;
}

.templesweathergrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 25px;

}
.templesimg {
    width: 300px;
    height: auto;
    padding: 0 0 20px;
}
.templessubimg {
    width: auto;
    height: auto;
}
.weathersummary {
    background-color: #fff;
    border: .5px solid #131414;
    padding: 10px 0;
  
  
}
.weatherdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .25rem;

}
.weatherdetails .label {
    font-size: 1.25rem;
    color: #131414;
    text-align: right;
    padding: 0 0 0 15px;

}
.weatherdetails .value {
    color: #131414;
    padding: 0 15px 0 30px;
}
.forecast {
    display: none;
    
 }
table, th, td {
    border: 1px solid #131414;
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 15px;
  }
.reservations {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}
.sdimg1 {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
}
.sdimg2 {
    grid-column: 1;
    grid-row: 3;
    padding: 10px;
}
.sdtemplehome, .calendar {
    width: 300px;
    height: auto;
}
.contactsection {
    padding: 25px;
    margin: auto;
    width: 75%;
    text-align: center;

}


form fieldset, .comments{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
font-size: 1rem;
color: #131414;
margin: auto;
padding: 20px;
border: 1px dashed #131414;
max-width: 600px;


}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: .90rem;
    color: #131414;
    text-align: left;

}
.comments {
    margin: 2rem;
    max-width: 600px;
    border: none;


}

.contactusform {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: right;
}


form legend {
    color: #131414;
    margin: 0 2rem;
    padding: 1rem 1rem;
    font-size: 20px;

}

input, select {
    padding: .75rem;
    margin: .25rem .75rem 1.5rem;
    border: 1px solid #131414;

}


textarea {
    padding: .75rem;
    margin: 10px 0;
    border: 1px solid #131414;

}
.reservationsbutton {
    background-color: #FFEAEA;
    color: #131414;
    border: 1px solid #131414;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    text-align: center;
    font-size: 1.25rem;
}
.ammenities {
grid-column: 1;
grid-row: 3;
}
.ftmissionaryform {
    max-width: 450px;
}
iframe {
    width: 300px;
    padding: 25px;
}

.thanks {
    margin: auto;
    text-align: center;
    color: #131414;
    height: 200px;
    width: 75%;
   
}
.thanks p {
    font-size: 1.25rem;
    text-align: center;
        
}


.servicesgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;

    text-align: left;
    padding: 25px;

}
.ammenitiesgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 25px;
    justify-items: center;
    align-items: center;
    
}

.servicesimggrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 25px;
    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;

}

.servicesimgs {
width: 200px;
height: 132px;
}
.servicessubpage {
    padding: 15px;
    margin: auto;
    width: 90%;
    text-align: center;

}
ul.subpagelist {
    list-style-type: none;
    padding: 0;
}
.subpagelist a {
    color: #131414;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.receptionimgs {
    width: 300px;
    height: auto;
}

.foodgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 25px;
    justify-items: center;
    align-items: center;
}
.foodimgs {
    width: 200px;
    height: auto;
}
.receptionlist {
    padding: 25px;
    margin: auto;
    width: 75%;
    text-align: left;
}


.ftmissionarygrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 25px;
    justify-items: center;
    align-items: center;
}
.ftmissionaryimgs {
    width: 300px;
    height: auto;
}
.missionarysuites {
    padding: 25px;
    margin: auto;
    width: 75%;
    text-align: left;
}
a {
    color: #131414;
}


